

* {
    margin: 0;
    padding: 0;

}

p {
    font-weight: 300;
}
/* --------- NAVBAR --------- */
.navbar {
    /*background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);*/
    background-color: white;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    font-family: "Raleway", sans-serif !important;
}
#bg-color-toggler {
    background-color: #dc3545;
}
.logo-img {
    width: 100px;
}
.navbar-nav {
    text-align: right;
}
.nav-link {
    color: rgb(48, 48, 48) !important;
    font-size: 18px !important;
}

.navbar-brand {
    color: #fff !important;
}
.fa {
    color: #fff;
}
button {
    outline: none !important;
    border: none !important;
}
.account-icon {
    width: 20px;
}
@media only screen and (max-width: 991px) {
    .nav-link {
        font-size: 1.2rem !important;
    }
}
/* ----------- FOOTER -----------*/

  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }

  .content {
    height: 70vh; }

  .footer-48201 {
    padding: 7rem 0;
    background-color: #000;
    color: #777; }
    .footer-48201 .footer-site-logo {
      font-size: 1.5rem;
      color: #fff; }
    .footer-48201 .nav-links li {
      margin-bottom: 10px; }
      .footer-48201 .nav-links li a {
        color: gray; }
        .footer-48201 .nav-links li a:hover {
          color: #fff; }
    .footer-48201 .btn.btn-tertiary {
      background-color: #e42c64;
      color: #fff;
      border-radius: 30px;
      border: none;
      padding: 10px 20px; }
    .footer-48201 .social li {
      display: inline-block; }
      .footer-48201 .social li a {
        color: gray;
        padding: 7px; }
        .footer-48201 .social li a:hover {
          color: #fff; }
    .footer-48201 .copyright {
      border-top: 1px solid #404040; }
